<p class="lead">Explicación sobre cómo usar el lector</p>

<form action='/carga' method='post' class="row form">
  <div class="col-sm-offset-4 col-sm-4 form-group">
    <input type="text" name="dni" class="form-control input-lg" required autofocus />
  </div>

  <div class="col-sm-offset-4 col-sm-4 form-group">
    <button type="submit" class="btn btn-lg btn-success">Siguiente</button>
  </div>
</form>
