<p class="lead">
  Ingrese el dispositivo maestro con los datos de clientes a cargar y presione Siguiente.
</p>

<form action='/admin/clientes/carga' method='post' class="row form">
  <div class="col-sm-offset-4 col-sm-4 form-group">
    <button type="submit" class="btn btn-lg btn-success">Siguiente</button>
  </div>
</form>
