<div class="col-md-12">
  <p class="lead">
    Puede retirar su código de acceso presentando su DNI en el mostrador
    principal.
  </p>

  <form action='/codigo' method='post' class="row form">
    <div class="col-sm-offset-4 col-sm-4 form-group">
      <input type="password" name="codigo" class="form-control input-lg enfocable" required autofocus
        data-target="input[name='codigo']"
        autocomplete="new-password"
        />
    </div>

    <div class="col-sm-offset-4 col-sm-4 form-group teclado-contenedor"></div>

    <div class="col-sm-offset-4 col-sm-4 form-group">
      <button type="submit" class="btn btn-lg btn-success">Ingresar</button>
    </div>
  </form>
</div>
