<p>&nbsp;</p>

<form action='/dni' method='post' class="row form">
  <div class="col-sm-offset-4 col-sm-4 form-group">
    <input type="text" name="dni" class="form-control input-lg enfocable" required autofocus
      data-target="input[name='dni']"
    />
  </div>

  <div class="col-sm-offset-4 col-sm-4 form-group teclado-contenedor"></div>

  <div class="col-sm-offset-4 col-sm-4 form-group">
    <button type="submit" class="btn btn-lg btn-success">Siguiente</button>
  </div>
</form>
