<div class="col-md-12">
  <p class="lead">
    Ingrese el dispositivo maestro donde guardar los datos de movivmientos y presione Exportar.
  </p>

  <form action='/admin/clientes/exportar' method='post' class="row form">
    <div class="col-sm-offset-4 col-sm-4 form-group">
      <button type="submit" class="btn btn-lg btn-success bloqueador" data-disable-with="Exportando...">Exportando</button>
    </div>
  </form>
</div>
