
<div class="col-md-12 volver-al-login">

  <form action='/extraccion' method='post' class="row form">
    <div class="col-sm-offset-4 col-sm-4 form-group">
      <div class="mid-logo text-center banner" >
        <img alt="BBVA Francés" src="/img/home_logo.png" height="53" width="130"/>
      </div>
      <button type="submit" class="btn btn-lg btn-success bloqueador" data-disable-with="Extrayendo...">Retirar</button>
    </div>
  </form>
</div>
