<div class="col-md-9">
  <table class="table table-bordered table-striped table-condensed text-left data-table">
    <thead>
      <tr>
        <th class="col-md-8">Nombre</th>
        <th class="col-md-2">Documento</th>
        <th class="controles col-md-2"></th>
      </tr>
    </thead>

    <tbody>
      <% usuarios.each do |usuario| %>
        <tr>
          <td class="col-md-8"><%= usuario.nombre %></td>
          <td class="col-md-2"><%= usuario.nro_documento %></td>
          <td class="controles col-md-2">
            <a data-method="post" class="btn btn-primary btn-lg" href="/admin/clientes/<%= usuario.id %>/cargar" role="button" rel="nofollow">
              <i class="glyphicon glyphicon-envelope"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-3">
  <div class="form-group">
    <input type="text" name="filtro" class="filtro form-control input-lg enfocable" placeholder="Buscar..." autofocus data-target="input[name='filtro']"/>
  </div>

  <div class="form-group teclado-contenedor"></div>

  <a class="btn btn-success btn-lg" href="/admin/clientes/cargar" role="button">
    <i class="glyphicon glyphicon-plus"></i>
    Cargar clientes
  </a>
</div>
