<div class="col-md-12">
  <p class="lead">
    En esta terminal podrás retirar automáticamente tus tarjetas de débito y
    crédito, simplemente ingresando tu DNI y el código de acceso especial que
    asociamos a las mismas.
  </p>

  <p><a class="btn btn-lg btn-success" href="/dni" role="button">Iniciar</a></p>
</div>
