
<div class="col-md-12">
    <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <p class="lead text-center">
              En esta terminal podrás retirar tus tarjetas de crédito y
              débito ingresando tu DNI y la clave de retiro que generaste en Fnet.
            </p>
            <div class="text-center">
              <p><a class="btn btn-xlarge btn-success btn-square" href="/dni" role="button">Empezar</a></p>            
            </div>
          </div>
          <div class="col-md-3">
          </div>
    </div>
</div>


