<div class="col-md-12">
  <div class="col-md-4">
    <p>&nbsp;</p>

    <form action='/admin/configurar' method='post' class="row form">
      <div class="form-group">
        <label for="espera_carga">Tiempo de espera para la carga</label>
        <input type="text" name="espera_carga" class="form-control input-lg enfocable" required autofocus
          value="<%= config.espera_carga %>"
          data-target="input[name='espera_carga']"
        />
      </div>

      <div class="form-group">
        <label for="espera_extraccion">Tiempo de espera para la extracción</label>
        <input type="text" name="espera_extraccion" class="form-control input-lg enfocable" required
          value="<%= config.espera_extraccion %>"
          data-target="input[name='espera_extraccion']"
        />
      </div>

      <div class="form-group">
        <label for="nombre_archivo_novedades">Nombre de archivo de novedades</label>
        <input type="text" name="nombre_archivo_novedades" class="form-control input-lg enfocable"
          required autofocus
          value="<%= config.nombre_archivo_novedades %>"
          data-target="input[name='nombre_archivo_novedades']"
          data-teclado="alfanumerico"
        />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-success">Guardar</button>
      </div>
    </form>
  </div>

  <div class="col-md-8">
    <label>&nbsp;</label>

    <div class="form-group teclado-contenedor"></div>
  </div>
</div>
