<div class="col-md-12">
  <p class="lead">
    Acerque el código de barras del sobre al lector que se encuentra bajo la
    pantalla, espere la carga del código y presione Siguiente.
  </p>

  <form action='/admin/sobres' method='post' class="row form">
    <div class="col-sm-offset-4 col-sm-4 form-group">
      <input type="text" name="dni" class="form-control input-lg" required autofocus />
    </div>

    <div class="col-sm-offset-4 col-sm-4 form-group">
      <button type="submit" class="btn btn-lg btn-success">Siguiente</button>
    </div>
  </form>
</div>
