body {
  /* Deshabilitar la selección de texto en la página */
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;

  /* Aumentar texto default */
  font-size: 21px;
}

.header {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 15px;
}

.header .btn-group {
  padding-top: 26px;
}

.header .logo {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header .menu-superior {
  margin-right: 15px;
}

.principal {
  margin: auto 8%;
  text-align: center;
}

.principal form label {
  text-align: left;
}

.dropdown-menu {
  /* Hacer que el dropdown aparezca bien a la izquierda */
  left: -90%;
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

.lead {
  font-size: 1.5em;
}

.btn-lg {
  font-size: 1em;
}

.input-lg {
  font-size: 1em;
}

.teclado {
  text-align: left;

  /* Centrar el teclado dentro de su div */
  display: table;
  margin-left: auto;
  margin-right: auto;
}

a.btn.lateral {
  width: 100%;
}

/* Dejar border internos solamente */
.table-bordered {
  border-width: 0;
}

.controles {
  text-align: right;
}

.softkeys__btn {
  padding: 0 1.5em;
  line-height: 3.5em;
}

.softkeys__btn--space {
  width: 19.25em;
}

/* El selector de tipo de documento */
select[name="tipo"] {
  margin-top: 0.5em;
}
