.header {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 15px;
}

.header .btn-group {
  padding-top: 42px;
}

.header .logo {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.principal {
  margin: auto 8%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.principal form label {
  text-align: left;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer * {
  /* Mantener el margen en los pull-right */
  margin-right: 15px;
}

.dropdown-menu {
  /* Hacer que el dropdown aparezca bien a la izquierda */
  left: -90%;
}

.teclado {
  text-align: left;
}
